@charset "UTF-8";

body{
    font-family: "Montserrat";
    font-size: 100%;
    margin: 0;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 20px;
    font-weight: 400;
}
.hidden {
    display:none;
}
img {
    max-width: 100%;
    height: auto;
}
.post-summary-title {
    margin: 0;
}

/* links style */
a {
    text-decoration: none;
    color: black;
}
a.learn-more {
    font-size: 1em;
    text-align:center;
    text-transform: uppercase;
    color: #96B64F;
}
a.carousel-text {
    background: #F6F0E7;
    color: #73736F;
    width: 210px;
    height: 40px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding: 6px;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    display: flex;
    margin: 0 auto;
    letter-spacing: 0.5px;
}

nav ul li a:focus, a:hover, nav ul li a:active{
    color: #4C6C2D;
    cursor: pointer;
}

footer a {
    color: antiquewhite;
}

footer a:hover {
    color: beige;
}
/* header style */
.nav-wrap {
    padding: 0;
    width: 100%;
    max-height: 100%;
    margin: 0;
    background: #fff;
    border-bottom: 1px solid #EDEDED;
    position: relative;
    min-height: 70px;
    box-shadow: 0 3px 5px rgb(0 0 0 / 10%);
}

.search-bar-container {
    width: 15%;
    height: 30px;
    display: inline-flex;
    float: right;
    margin: 20px 20px 0 0;
    border-radius: 7px;
    background-color:#96B64F60;
    align-items: center;
}
.search-bar {
    width: 100%;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 0 10px;
}

::placeholder {
    color: rgb(52, 55, 50);
}
.search-bar button {
    float: right;
    background: transparent;
    border: 0;
    margin-right: 10px;
    cursor: pointer;
}
.search-bar img {
    height: 18px;
    width: 18px;
    object-fit: cover;
}

/* nav style */
.nav-menu {
    display: inline-block;
}
.nav-primary ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-flex;
}

.nav-primary ul li {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding: 1.5em;
}

.fixed {
    position: fixed;
    top: 0;
    z-index: 10;
}
/* body style */
h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* landing page */
.banner {
    display: grid;
    grid-template-columns: 1.75fr 1fr;
    max-width: 1450px;
    margin: 0 auto;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.landing-1 {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    min-height: 680px;
    background-color: #cfe0b6;
}
.landing-text-1 {
    align-self: center;
    padding: 9.75%
}
.landing-text-1 h3{
    font-size: 30px;
}

.landing-2 {
    margin-bottom: 0;
    position:relative
}

.landing-text-2-box{
    width:100%;
    position: absolute;
    bottom: 0;
}
.landing-text-2 {
    padding: 36px 24px;
    background-color: #32462b;
}
.landing-text-2 a{
    color: white;
}
.landing-text-2 h3 {
    font-size: 20px;
}

/* recent post style */
.recent-journeys-inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 32px;
    max-width: 1450px;
    margin: 0 auto;
}

.post-summary-primary {
    margin-bottom: 30px;
}

.post-summary-primary .post-summary-image img {
    height: 510px;
    width: 340px;
    object-fit: cover;
    padding-bottom: 15px;
}
.post-date {
    color: #4C6C2D;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}


/* destination style */
.destination-inner {
    display:grid;
    grid-template-columns: 4fr 1fr;
    max-width: 1250px;
    margin: 0 auto;
}

.map {
    display: flex;
    justify-content: center;
}

.destination-list {
    background-color: #32462b;
    margin: 0 0 0 1em;
}

.destination-list p {
    padding: 1em 1.5em;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 1em;
    color: antiquewhite;
}

.destination-list ul {
    list-style-type: none;
}
.destination-list a {
    text-transform: uppercase;
    color: antiquewhite;
    margin: 0;
    font-weight: 300;
}
.expand-list {
    padding-bottom: 1em;
}
.expand-list ul{
    padding-inline-start: 1em;
}
.expand-list ul li {
    padding: 0.25em 0;
}

/* block post style */
.daily-inner {
    display: grid;
    grid-column-gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1450px;
    margin: 0 auto;
}

.post-summary-secondary {
    display: grid;
    grid-template-columns: .46fr .54fr;
    background-color: #e8eacebc;
    margin-bottom: 30px;
}

.post-summary-secondary .post-summary-image img {
    height: 510px;
    width: 340px;
    object-fit: cover;
}

.post-summary-secondary .post-summary-content {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 15.46%;
}
.post-summary-secondary .post-summary-content .post-date {
    font-size: 18px;
}
.post-summary-secondary .post-summary-content .post-summary-title {
    margin-bottom: 10px;
}
.post-summary-secondary .post-summary-content p {
    font-size: 16px;
}


/* carousel style */
.carousel img {
    height: 600px;
    width: 600px;
    object-fit: cover;
}

/* image slider style */
.imgSlider {
    width: 60%;
    height: 600px;
    display: grid;
    place-items: center;
    margin: 0 auto;
    background-size: 100% 100%;
    background-image: url(images/Barcelona.jpeg);
    animation: ChangeImage 40s linear infinite;
    margin-bottom: 60px;
}
@keyframes ChangeImage {
    0% {
        background-image: url(images/Barcelona.jpeg);
    }
    20% {
        background-image: url(images/Cairo.jpeg);
    }
    40% {
        background-image: url(images/Chicago.jpeg);
    }
    60% {
        background-image: url(images/Tokyo.jpeg);
    }
    80% {
        background-image: url(images/Hong\ Kong.jpeg);
    }
    100% {
        background-image: url(images/Barcelona.jpeg);
    }
}

/* footer style */
footer {
    background-color: rgb(59, 72, 25);
}
.footer-inner {
    display: grid;
    grid-template-columns: 35% 30% 35%;
    max-width: 1482px;
    margin: 0 auto;
    padding: 100px 0;
}
.footer-nav {
    border-right: 1px solid #32462b;
}
.footer-menu, .footer-social-media {
    list-style-type: none;
}
.footer-menu li{
    padding: 1em;
    font-size: 15px;
    text-transform: uppercase;
}
.footer-social-media li{
    float: left;
    padding-left: 15px;
}
.footer-social-media img{
    height: 40px;
    width: 40px;
}
/* copyright style */
.copy-right {
    background-color: rgb(40, 49, 17);
    text-align: center;
    padding: 20px 0;
    color: antiquewhite;
}